<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>

  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />

  <!-- user css-->
  <link rel="stylesheet" href="../../css/main.css">

</head>

<body>
  <div class="top-nav-container">
    <div class="top-nav-body">
      <div class="top-nav-item">
        <div class="top-nav-data">
          <div class="top-nav-img-container">
            <img src="https://picsum.photos/200" alt="" class="top-nav-img">
          </div>
          <div class="top-nav-link">Ari Wiradana</div>
        </div>
      </div>
      <div class="top-nav-item">
        <div class="top-nav-btns">
          <button class="btn-circle btn-circle-sm btn-outline-secondary"><i
              class="uil uil-search btn-circle-icon"></i></button>
          <button class="btn-circle btn-circle-sm btn-outline-secondary"><i
              class="uil uil-apps btn-circle-icon"></i></button>
        </div>
      </div>
    </div>
  </div>

  <!-- JOB TYPE -->
  <div class="container-sm mt-5">
    <div class="h4 text-dark fw-semi-bold mb-1">Job Type</div>
    <div class="job-type">


    </div>
  </div>

  <!-- JOB MATCHED -->
  <div class="container-sm">
    <div class="d-flex jc-between ai-center mb-1">
      <div class="h4 text-dark fw-semi-bold">Job Matched</div>
      <div class="body-text fw-medium text-secondary">Show All</div>
    </div>
    <div class="job-matched">

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
  
  <!-- user js -->
  <script src="../../js/main.js"></script>
</body>

</html>